.skills-item-container {
  list-style-type: none;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skill-image {
  width: 15px;
  height: 15px;
}

.skill-name {
  font-family: 'Roboto';
  font-size: 14px;
}
